@import "./utilities/variables";
@import "./layout/reseteo";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/mediaQuerys";
@import "./layout/cards";

.card-body{
    text-align: center;
}
body{
    font-family: $letraComun;
    background-color: $apricot;
    color: black;
}   
.bg-marron{
    background-color: $artichoke;
}
.btn-primary{
    
}