@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
/*  font-family: 'Kristi', cursive;  */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&display=swap');
/*  font-family: 'Dosis', sans-serif;  */
$letraCursiva: 'Kristi', cursive;
$letraComun: 'Dosis', sans-serif;

/* SCSS RGB */
$rifle-green: rgba(62, 80, 60, 1);
$artichoke: rgba(148, 156, 129, 1);
$eggshell: rgba(240, 230, 209, 1);
$dark-salmon: rgba(238, 156, 129, 1);
$apricot: rgba(239, 193, 169, 1);