@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
/*  font-family: 'Kristi', cursive;  */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&display=swap');
/*  font-family: 'Dosis', sans-serif;  */
$letraCursiva: 'Kristi', cursive;
$letraComun: 'Dosis', sans-serif;
$fondoMarron: rgb(49, 30, 16);
$fondoCeleste: rgb(67, 124, 144);
$textoBlanco: white;
