.footer{
    margin-top: 5px;
    display: grid;
    justify-content: space-around;
    justify-items: center;
    background-color: $artichoke;
    p{
        a{
            text-decoration: none;
            color:black;
        }
    }
}
.icono{
    max-width: 32px;
    height: auto;
    margin: 15px;
}
.redesSociales{
    display: flex;
    flex-direction: row;
    align-items:baseline;
}