.nombreNavbar{
    font-family: $letraCursiva;
    font-size: xx-large;
    color: $textoBlanco;
    text-decoration: none;
}
.header{
    background-color: $fondoMarron;
}
.nav-item {
    a{
    color: $textoBlanco;
    text-decoration: none;
    }
}
