@media (min-width:576px){
    .volverIincio{
        grid-area: volver;
    }
    .redesSociales{
        grid-area: redes;
    }
    .creator{
        grid-area: creator;
    }
    .footer{
        display: grid;
        grid-template-areas: 
        "volver volver"
        "redes creator";
    }
}

@media (min-width:992px){
    .textoIndex{
        font-size: 30px !important;
    }
    .subtituloIndex{
        font-size: 35px !important;
        font-style: oblique !important;
    }
    .tituloIndex{
        font-size: 40px !important;
        font-weight: bold !important;
    }
    .textoEmpresa{
        @extend .textoIndex;
    }
    .subtituloEmpresa{
        @extend .subtituloIndex;
    }
    .tituloEmpresa{
        @extend .tituloIndex;
    }
}